<%- include('../partials/head') %> 
    <title>Edit Product</title>
  </head>
  <body>
    <section class="container w-50 p-3">
      <h1>Edit <%=product.name %></h1>
      <form
        method="POST"
        class="col-md-auto needs-validation"
        action="/products/<%= product._id %>?_method=PUT"
        novalidate
      >
        <label for="name">Name of Product:</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
          <input type="text"
          class="form-control" 
          name="name"
          id="name"
          value="<%=product.name %>"
          required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

         <label for="price">Price of Product($):</label>
        <div class="input-group mb-3">  
          <span class="input-group-text">$</span>
          <input type="number" id="price" name="price" class="form-control" aria-label="Amount (to the nearest dollar)" value="<%= product.price %>" required>
          <span class="input-group-text">.00</span>
        </div>
        <label for="category">Category of Product:</label>
        <div class="input-group mb-3">
          
          <label class="input-group-text" for="category">Category</label>
          <select
          class="form-select"
          aria-label="Default select example"
          name="category"
          id="category"
          required
        >      
        <% for (let category of categories){ %>
          <option value="<%=category%>" <%= product.category === category ? 'selected' : '' %>><%= category %> </option>
          <% } %>
        </select>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <br />
      <div>
        <a class="btn btn-primary" href="/products">Back to Homepage</a>
      </div>
    </section>
  <%-include('../partials/footer') %> 