<%- include('../partials/head') %> 
    <title>Edit Product</title>
  </head>
  <body>
    <section class="container w-50 p-3">
      <h1>Edit <%=product.name %></h1>
      <form
        method="POST"
        class="col-md-auto needs-validation"
        action="/products/<%= product._id %>?_method=PUT"
        novalidate
      >
        <label for="name">Name of Product:</label>
        <input
          class="form-control"
          type="text"
          aria-label="default input example"
          type="text"
          name="name"
          id="name"
          value="<%=product.name %>"
          required
        />
        <!-- <br /> -->
        <label for="price">Price of Product($):</label>
        <input
          class="form-control"
          type="number"
          name="price"
          id="price"
          value="<%= product.price %>"
          required
        />
        <br />
        <label for="category">Category of Product:</label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="category"
          id="category"
          required
        >
          <option selected>Choose a Category</option>
          <option value="Fruit">Fruit</option>
          <option value="Vegetable">Vegetable</option>
          <option value="Dairy">Dairy</option>
          <option value="Cereal">Cereal</option>
        </select>
        <br />
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
      <br />
      <div>
        <a class="btn btn-primary" href="/products">Back to Homepage</a>
      </div>
    </section>
  <%-include('../partials/footer') %> 